<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" href="/css/style.css">

  </head>
  <body><a href="/adminCorner">back</a>
    <form method="post" action="/createCategory" enctype="multipart/form-data">
      <label>Name:</label>
      <input name="categoryName" type="text">
      <label>Category image:</label>
      <input name="categoryImage" type="file">
     <button type="submit">Add category</button>
    </form>
  </body>
</html>