<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <a href="/adminCorner">back</a>
   <table class="product-table">
  <thead>
    <tr>
      <th>S No.</th>
      <th>Product Name</th>
      <th>Product Quantity</th>
      <th>Product Price</th>
      <th>View Details</th>
    </tr>
  </thead>

  <tbody>
    <% allProduct.forEach((p, index) => { %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= p.productName %></td>
        <td><%= p.productQuantity %></td>
        <td>₹ <%= p.productPrice %></td>
        <td><a href="#" class="view-btn">View</a></td>
      </tr>
    <% }) %>
  </tbody>
</table>

  </body>
</html>